@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200;300;400;500;600;700;800&family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
  font-weight: 500;
  transition: all .5s ease;
}

body {
  font-family: 'Muli', sans-serif;
  background: #ddd;
  width: 100%;
}
.App{
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.wrapper {
  max-width: 600px;
  overflow: hidden;
  padding-bottom: 100px;
  position: relative;
}

.drawer-area, .search-area-inside, .filter-area-inside {
  background-color: #1f7199;
}

.logo {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.header-area {
  text-align: center;
  padding: 10px;
  background-color: #1f7199;
  box-shadow: 0px -2px 20px #1f7199;

  img {
    width: 45px;
  }
}

.navbar-area {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 60px;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -2px 20px #1f7199;
  background-color: #1f7199;

  .nav-item {
    flex: 1;
    text-align: center;
    color: #FFF;

    a {
      color: #FFF;
    }
  }

  .btn-menu {
    width: 100%;
    height: 100%;
    padding: 15px;
  }
}

.nav-link {
  color: #FFF;
  text-decoration: none;
  font-family: "Muli", sans-serif;
  font-weight: 500;
  font-size: 1.0714285714285714rem;
  line-height: 1.5;
  display: block;
}

.drawer-area {

  .menu-greeting {
    margin: 20px;
    font-family: "Muli", sans-serif;

    b {
      font-weight: 600;
    }
  }
}

.content-area {
  h2 {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    color: #151e27;
  }
  .product-heading {
    font-size: 21px;
    color: #151e27;
  }
}

.product-area {
  text-align: center;
  padding: 10px;

  img {
    max-width: 100%;
  }
}

.drawer-area {
  color: #FFF;
  font-family: "Muli", sans-serif;
}

.card-properties {
  margin-top: 20px;
  padding-top: 30px;
  border-top: 1px solid #ddd;


  .card-properties-item {
    margin-bottom: 20px;

    a {
      color: #151e27;
      font-weight: 600;
    }
  }
}

.filter-drawer-area {

  .filter-btn {
    position: fixed;
    right: 0;
    top: 120px;
    z-index: 9;
    background-color: #1f7199;
    color: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    &:hover {
      background-color: #3A416F;
    }
  }

  .filter-area-inside {
    height: 500px;
  }

}

.filter-label {
  color: #FFF;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
  display: block;
}

.filter-price {
  .filter-price-inside {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      width: 45% !important;
      margin: 0 !important;
    }
  }
}

.static-page-area {
  background: #fff;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  margin: 20px 10px;

  h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 25px auto 15px auto;
    overflow: hidden;
    width: 100%;
    text-align: center;
    line-height: 1.5;
  }

  h3 {
    font-size: 17px;
    font-weight: bold;
    margin: 25px auto 15px auto;
    overflow: hidden;
    width: 100%;
    line-height: 1.5;

    small {
      display: block;
      font-size: 14px;
      font-style: italic;
    }
  }

  p {
    font-size: 16px;
    margin: 15px auto;
    overflow: hidden;
    width: 100%;
    line-height: 1.5;

    b {
      font-weight: 600;
    }
  }

  .rounded-image {
    width: 100%;
    border-radius: 50%;
    margin: 20px auto;
  }

  .standard-image {
    width: 100%;
    margin: 20px auto;

  }
}

.empty-category {
  text-align: center;
  width: 100%;
  margin-top: 100px;
}

.filter-find-products {
  position: fixed;
  left: 50%;
  bottom: -10000px;
  margin-left: -100px;
  z-index: 9998;
  background-color: #2C3E50;
  color: #FFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all .4s ease;
  border-radius: 4px;

  button {
    color: #FFF;
    font-size: 12px;
    padding: 10px;
    width: 200px;
  }
}

.filter-find-products-active {
  right: auto;
  left: 50%;
  bottom: 90px;
  margin-left: -100px;
}

.telegram-redirect-message {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  line-height: 2;
  color: #2C3E50;

  p {
    font-size: 30px;

    color: #2C3E50;

    a {
      color: #2C3E50;
    }
  }
}

.main-heading {
  display: flex;
  align-items: center;
  padding: 20px 0 0 0;

  .back-icon {
    height: 40px;
    display: flex;
    align-items: center;
    padding-top: 3px;
    width: 60px;
  }
}