.header-area {
  background-color: var(--tg-theme-bg-color);
}

.navbar-area {
  background-color: var(--tg-theme-bg-color);
}

.drawer-area, .search-area-inside, .filter-area-inside {
  background-color: var(--tg-theme-bg-color);
}